.bio {
  height: 50vh;
  /* background-color: #06233f; */
  display: flex;
  justify-content: center;
}

.bio-content {
  height: 28vh;
  width: 120vh;
  font-size: 18px;
  /* position: absolute;
  top: 113vh; */
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 0.2s;
  color: #064663;
  text-align: center;
  overflow: hidden;
  position: absolute;
}

.bio-content:hover {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: 0.2s;
}

.bio-content h1 {
  text-align: center;
}

.logo img {
  width: 40px;
  padding: 5px;
  transition: 0.5s;
}

#html:hover, #js:hover, #ruby:hover, #rails:hover, #react:hover {
  width: 60px;
  transition: 0.5s
}

#css {
  width: 30px;
  transition: 0.5s;
}

#css:hover{
  width: 50px;
  transition: 0.5s;
}

#me {
  width: 60px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 42vh;
}
