.bio {
  height: 50vh;
  /* width: 100vw; */
}

.bio-content {
  height: 50%;
  width: 80%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 0.3s;
  color: #064663;
  text-align: center;
  overflow: scroll;
  margin: auto;
}

.bio-content::-webkit-scrollbar {
  display: none;
}

.bio-content:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.bio-content h1 {
  text-align: center;
}

.logo img {
  width: 40px;
  padding: 5px;
  transition: 0.5s;
}

#html:hover, #js:hover, #ruby:hover, #rails:hover, #react:hover {
  width: 60px;
  transition: 0.5s
}

#css {
  width: 30px;
  transition: 0.5s;
}

#css:hover{
  width: 50px;
  transition: 0.5s;
}

#me {
  width: 60px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 42vh;
}

.btn-cv {
  margin-top: 12px;
}

.cv {
  text-decoration: none;
  font-size: 15px;
  background-color: #064663;
  border-radius: 8px;
  padding: 6px 10px;
  color: white;
  transition: 0.4s;
  border-radius: 10px;
}

.cv:hover {
  transition: 0.4s;
  font-size: 19px;
}
