.service {
    height: fit-content;
    color: white;
    margin: 0px 100px 50px 100px;
    position: relative;

    hr {
        width: 160px;
        position: absolute;
        left: 100px;
        top: 6vh;
        border: 1px solid #ECB365;
    }

    h1 {
        padding-left: 100px;
        position: relative;
        z-index: 1;
    }

    .list {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 90px;

        .refonte {
            width: 250px;
            height: fit-content;
            max-height: 400px;  
            background-color: #112840;
            padding: 25px;
            border-radius: 0px 0px 0px 50px;
            border: 1px solid #ECB365 ;
        }

        .vitrine {
            width: 300px;
            height: fit-content;
            // max-height: 400px;
            background-color: #112840;;
            padding: 25px;
            border-radius: 0px 0px 50px 50px;
            border: 1px solid #ECB365;
        }

        .landing {
            width: 250px;
            height: fit-content;
            max-height: 400px;
            background-color: #112840;;
            padding: 25px;
            border-radius: 0px 0px 50px 0px;
            border: 1px solid #ECB365 ;
        }
    }
}
@media (orientation: portrait) {
    .service {
        margin: 0 !important;
        height: fit-content !important;

        h1 {
            padding-left: 0;
            text-align: center;
            color: #ECB365;
        }
    }

    .list {
        flex-direction: column !important;
        align-items: center;
    }
}

@media (max-width:950px) {
    .refonte {
        width: 200px !important;
    }

    .vitrine {
        margin-top: 25px;
        width: 200px !important;
        height: fit-content !important;
    }

    .landing {
        margin-top: 25px;
        width: 200px !important;
    }

    .landing, .vitrine, .refonte {
        border-radius: 10px !important;
    }
}

@media (min-width: 1600px) and (max-width: 2800px) {
    .refonte {
        width: 290px !important;
    }

    .vitrine {
        width: 300px !important;
    }
}


    