.mentions {
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: #242424;

    h1 {
        color: #3e6cad;
    }

    a {
        text-decoration: none;
        color: #3e6cad;
    }
}

#back {
    margin-bottom: 50px;
}

@media (orientation: portrait) {
    .mentions {
        margin: auto 50px;
    }
}