.home {
  /* margin-top: 2px; */
  height: 100vh;
  /* width: 100%; */
  color: white;
  z-index: 0;
}

.home-card {
  position: absolute;
  top: 250px;
  display: flex;
  width: 100%;
  align-items: center;
}

#name {
  color: #ECB365;
}

.left-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
}

.right-side {
  padding-right: 35px;
}

.right-side img {
  width:500px;
  height: 300px;
  border-radius: 8px;
}

h3 {
  position: relative;
  top: -24px;
}

@media (max-width: 800px) {
  .home-card  {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .right-side img{
    width:250px;
    height: 180px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .right-side img{
    width:400px;
    height: 280px;
  }
}

@media (max-width: 800px) {
  .right-side {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .home-card {
    top: 150px;
  }
}
