.header {
  background-color: #041C32;
  color: white;
  height: 9vh;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  border-top: 4px solid #ECB365;
  z-index: 1;
}

.header span {
  margin-left: 5px;
}

.header a {
  padding: 9px;
  text-decoration: none;
  color: white;
}
