.header {
  background-color: rgb(12, 69, 143);
  color: white;
  height: 10vh;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;

}

.header-content {
  display: flex;
  align-items: center;
  padding: 5px;
}

a {
  padding: 9px;
}
