.footer {
    background-color: #112840;
    height: fit-content;
    padding: 8px;

    p {
        text-align: center;
        font-size: 1.8vh;
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}